
.song-list{
    display: flex;
    gap: 20px;
}

.song-list li{
    position: relative;
}

.song-list li::before{
    content: '▶';
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1ED760;
    color: black;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 115px;
    right: 10px;
    opacity: 0;
    transition: all 0.2s;
}

.song-list li:hover::before{
    top: 110px;
    opacity: 1;
}

.song-list li img{
    width: 170px;
    border-radius: 5px;
}

.song-list li h3{
    font-weight: 400;
    font-size: 16px;
}


.song-list li h3:hover{
    text-decoration: underline;
}

.song-list li h4{
    font-weight: 400;
    font-size: 14px;
    color: #B3B3B3;
    margin-top: 5px;
}

.song-list li h4:hover{
    text-decoration: underline;
}

.song-prev-btn, .song-next-btn{
    color: #B3B3B3;
}

.song-prev-btn:hover, .song-next-btn:hover{
    color: white;
}

.song-wrap{
    position: relative;
}

.song-list{
    overflow-x: hidden;
}

.song-prev-btn,
.song-next-btn{
    position: absolute;
    top: 70px;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
}

.song-prev-btn{
    left: -25px;
}

.song-next-btn{
    right: -25px;
}